body {
  background-color: #fafafa;
  width: 1366px;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.topo {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  z-index: 2;
}

.itenstopo {
  display: flex;
}
.iconinsta {
  font-size: 22px;
  margin: 12px 0px 0px 214px;
}
.barra {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
  margin: 12px 0px 0px 10px;
}
.logoinsta {
  width: 103px;
  height: 29px;
  margin: 12px 0px 0px 10px;
}
.pesquisar {
  width: 215px;
  height: 26px;
  color: #979797;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-top: 6px;
  margin: 12px 0px 0px 218px;
}
.direct {
  font-size: 22px;
  margin: 15px 0px 0px 215px;
}
.explore {
  font-size: 22px;
  margin: 15px 0px 0px 18px;
}
.notificacoes {
  font-size: 22px;
  margin: 15px 0px 0px 18px;
}
.person {
  font-size: 22px;
  margin: 15px 0px 0px 18px;
}

.conteudo {
  display: flex;
  justify-content: center;
}

.stories {
  display: flex;
  justify-content: space-between;
  width: 614px;
  height: 118px;
  border-radius: 3px;
  background-color: white;
  margin-top: 88px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
}
.story {
  position: relative;
}
.storyimg {
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50px;
  top: 20px;
  left: 20px;
  margin-right: 15px;
}
.borderimg {
  position: inherit;
  width: 66px;
  height: 66px;
  border-radius: 50px;
  top: 15px;
  left: 15px;
  margin-right: 15px;
}
.user-story {
  position: inherit;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 14px;
  width: 58px;
  height: 19px;
  color: #262626;
  top: 18px;
  left: 18px;
}
.setinha {
  position: absolute;
  font-size: 28px;
  color: white;
  right: 8px;
  top: 40px;
  filter: drop-shadow(2px 4px 10px rgb(122, 122, 122));
}

.post {
  width: 614px;
  height: 749px;
  background-color: white;
  margin-top: 24px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.perfil-post {
  display: flex;
}
.perfil-img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-top: 14px;
}
.user {
  font-size: 12px;
  font-weight: 500;
  color: #262626;
  margin-top: 25px;
  margin-left: 15px;
  width: 42px;
}
.iconellipsis {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 470px;
}
.postimg {
  width: 612px;
  height: 612px;
  margin-top: 15px;
}
.iconspost {
  display: flex;
}
.iconlike {
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;
}
.iconcomment {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.icondirect {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.iconsave {
  font-size: 20px;
  margin-left: 490px;
  margin-top: 10px;
}
.curtidas {
  display: flex;
}
.imglikes {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-top: 5px;
}
.p-curtidas {
  height: 21px;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
}

strong {
  font-weight: 500;
  color: #000000;
  font-size: 14px;
}

.sidebar {
  width: 190px;
  height: 400px;
  margin: 88px 0px 0px 30px;
}

.sideperfil {
  display: flex;
}
.catana {
  margin-top: 25px;
}
.perfil-sugestao {
  font-size: 14px;
  line-height: 16.45px;
  color: #8e8e8e;
  margin: 40px 0px 0px 12px;
}

.caixasugestoes {
  width: 190px;
  height: 292px;
  margin-top: 15px;
}
.p-sugestoes {
  font-size: 12px;
  font-weight: 500;
  color: #bebebe;
  margin-bottom: 10px;
}
.sugestao {
  display: flex;
  margin-bottom: 10px;
}
.img-sug {
  margin-top: 10px;
  width: 32px;
  height: 32px;
}
.text-sug {
  margin-left: 10px;
  margin-top: 12px;
}
.user-sug {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 4px;
}
.info-sug {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.infos {
  width: 293px;
  height: 80px;
  margin-top: 15px;
}
.p-infos {
  font-size: 11px;
  color: #c7c7c7;
  line-height: 12.9px;
  margin-bottom: 20px;
}

.follows {
  margin: 88px 0px 0px 0px;
  width: 103px;
  height: 388px;
  text-align: right;
}
.p-follow {
  font-size: 12px;
  font-weight: 500;
  color: #262626;
  margin-top: 97px;
  margin-bottom: 30px;
}
.seguir {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
  margin-bottom: 40px;
}

.barramobile {
  position: fixed;
  z-index: 2;
  width: 614px;
  height: 54px;
  background-color: #ffffff;
  border-top: 1px solid #dbdbdb;
  bottom: 0;
  left: 0;
  display: none;
}
.itensbarra {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 935px) {
  body {
    width: 935px;
  }
  .topo {
    width: 935px;
  }
  .conteudo {
    margin: 0 auto;
  }
  .sidebar,
  .follows {
    display: none;
  }
  .iconinsta {
    margin-left: 15px;
    font-size: 22px;
  }
  .pesquisar {
    margin-left: 205px;
  }
  .direct {
    margin-left: 200px;
  }
  .explore {
    margin-left: 15px;
  }
  .notificacoes {
    margin-left: 15px;
  }
  .person {
    margin-left: 15px;
  }
}

@media (max-width: 614px) {
  body {
    width: 614px;
  }
  .topo {
    width: 614px;
  }
  .setinha,
  .pesquisar,
  .barra,
  .explore,
  .notificacoes,
  .person {
    display: none;
  }
  .iconinsta {
    margin: 15px 0px 0px 20px;
  }
  .logoinsta {
    margin: 15px 0px 0px 210px;
  }
  .direct {
    margin: 15px 0px 0px 220px;
  }
  .stories {
    background-color: #fafafa;
    margin-top: 53px;
  }
  .post {
    margin-top: -1px;
  }
  .barramobile {
    display: initial;
  }
  .home,
  .search,
  .add,
  .heart,
  .person2 {
    font-size: 20px;
    margin-top: 15px;
  }
}